<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ru</string>
    <key>CFBundleDisplayName</key>
    <string>LOOKTURA</string>
    <key>CFBundleName</key>
    <string>Looktura</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>AccentColor</string>
    </dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>LOOKTURA показывает магазины с твоими вещами в радиусе 2 км.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>LOOKTURA показывает магазины с твоими вещами в радиусе 2 км.</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>yandexmaps</string>
        <string>yandexnavi</string>
    </array>
    <key>UIAppFonts</key>
    <array>
        <string>Fraunces-Regular.ttf</string>
        <string>Fraunces-Light.ttf</string>
        <string>Fraunces-SemiBold.ttf</string>
        <string>Fraunces-Bold.ttf</string>
        <string>Inter-Regular.ttf</string>
        <string>Inter-Medium.ttf</string>
        <string>Inter-SemiBold.ttf</string>
        <string>Inter-Bold.ttf</string>
        <string>JetBrainsMono-Regular.ttf</string>
        <string>JetBrainsMono-Medium.ttf</string>
        <string>JetBrainsMono-SemiBold.ttf</string>
        <string>JetBrainsMono-Bold.ttf</string>
    </array>
</dict>
</plist>
